body {
    margin: 0;
}

.content {
    color: #999;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 200;
    min-height: 100vh;
}
