/* -----Body background image--------------- */
body {
    /* Had to put height 100% to get full VH to work on Chrome Mobile */
    height: 100%;
    margin: 0;
    background-image: url("/images/bkg-img-temp.jpg");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;

}

/* ---------Settings heights for the main content block ------*/
.row-height {
    /* webkit-fill-available for safari sizing properly */
    min-height: -webkit-fill-available;
    min-height: fill-available;

}

/* did this to use vh on desktop browsers */
@media (min-width: 720px) {
    .row-height {
        min-height: 100vh;
    }
}

/* geko engine allows for vh on mobile and desktop. Used this to target mobile. */
@-moz-document url-prefix() {
    .row-height {
        min-height: 100vh;
    }
}

/* ------------------------------------------------- */


/*------- main paragraph styles----- */
.content {
    color: #666666;
    font-size: 1.3rem;
    font-weight: 300;
}

/* ----------Icon sizing & colors------ */

.contact-size {
    font-size: 2.4rem;
}

.mail {
    color: #c13a2c;
}

.linkdin {
    color: #0073b0;
}

.dribbble {
    color: #ea4c89;
}