body,
html {
    margin: 0;
    width: 100%;
}

/* General Fonts and text  */

h1, h2, h3, h4, h5, h6 {
    Font-Family: 'Roboto', Sans-Serif;
}

p {
    Font-Family: 'Source Sans Pro', Sans-Serif; 
   
}

.brand-font {
    Font-Family: 'Roboto', Sans-Serif;
}

/* Font Weight */

.text-regular {
    font-weight: 400;
}

.text-bold {
    font-weight: 700;
}

/* Font Sizes */

.font-md {
    font-size: 1.2rem
}

.font-lg {
    font-size: 1.6rem;
}

.font-xl {
    font-size: 2.4rem;
}

/* Links */

a:link {
    color: #212529;
    text-decoration: underline;
}

/* visited link */
a:visited {
    color:#212529;
  }
  
  /* mouse over link */
  a:hover {
    color:#FFA500 !important;
  }
  
  /* selected link */
  a:active {
    color:#FFA500;
  }

/* All image links have shadow */
a img:hover {
    -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.4);
    box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.4);
}


/* special links*/

a.cs-link {
    color: #212529;
    text-decoration: none;
}

a.cs-link:hover {
    color: #FFA500;
    text-decoration: none;
}

a.nav-link {
    color:#212529;
    text-decoration: none ;
}

a.navbar-brand {
    color:#212529;
    text-decoration: none ;
}

a.nav-link:hover {
    color: #FFA500 !important;
    text-decoration: none ;
}

a.navbar-brand:hover {
    color: #FFA500 !important;
}



/* Text Lines flourishes */

.work-title::after {
    height: 2px;
    width: 65px;
    margin-top: .35rem;
    ;
    display: block;
    position: relative;
    bottom: 0px;
    left: 0px;
    content: "";
    background-color: #FFA500;
}

.case-study-title::after {
    height: 2px;
    width: 100px;
    margin-top: .35rem;
    ;
    display: block;
    position: relative;
    bottom: 0px;
    left: 0px;
    content: "";
    background-color: #FFA500;
}

/* Gradient bkg */
.slider-bkg{
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



/* Footer related classes */
.copyright {
    font-size: 11px;

}

.spacer {
    height:
        50px;
}