body,
html {
    margin: 0;
    width: 100%;
}



/* NAV BAR CLASSES */
.nav-border {
    border-top: 4px solid #383838;

}

.navbar-brand,
.navbar-light {
    color: #383838 !important;
}

/* divding Lines between mobile li */
.btm-line {
    border-bottom: 1px solid #e8e8e8;
}

#mobile_nav li>a {
    padding: 15px 0px;
}

/* FOOTER CLASSES */


.bg-38 {
    background-color: #383838;
}

.footer {
    min-height: 268px;
    margin-top: 48px;

}

.footer-text {
    color: #b8b8b8;
    font-size: .8rem;
}

.footer-text a {
    font-size: 2.4rem;
    padding: 0 1rem;
    color: #B8B8B8 !important;
}


/* TITLE LINE FLOURISHES */

.work-title::after {
    height: 2px;
    width: 65px;
    margin-top: .35rem;
    display: block;
    position: relative;
    bottom: 0px;
    left: 0px;
    content: "";
    background-color: #FFA500;
}

.case-study-title::after {
    height: 2px;
    width: 135px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    position: relative;
    bottom: 0px;
    left: 0px;
    content: "";
    background-color: #FFA500;
}